  <a href="#" id="back_btn" onclick="showRes(<%= @num %>); return false;"><%= image_tag("back.png", :size => "30x30") %></a>
<div id="comment_bar">
  Comment
</div>
<div id="comment_container">

  <% @ev_all.each do |f| %>
    <div class="comment_wrapper">
      <%= f.review %>
    </div>
  <% end %>
</div>
