<div id="res_profile">
  <table>
    <tr>
      <td colspan="3" class="table_name">Restaurant Information</td>
    </tr>
    <tr>
      <td rowspan="4" class="table_image"</td>
      <td class="table_row1">taste</td>
      <td id="taste_point">
        <div id="prog_taste">
        </div>
      </td>
    </tr>
    <tr>
      <td class="table_ev_list">speed</td>
      <td class="table_row1" id="speed_point">
        <div id="prog_speed">
        </div>
      </td>
    </tr>
    <tr>
      <td class="table_row1">amount</td>
      <td id="amount_point">
        <div id="prog_amount">
        </div>
      </td>
    </tr>
    <tr>
      <td>service</td>
      <td class="table_row1" id="service_point">
        <div id="prog_service">
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="table_row1"></td>
      <td rowspan="2"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
    </tr>


  </table>




</div>


<div id="supplement_box">
  <div id="ev_link">
  </div>
  <div id="menu_link">
  </div>

</div>


<div id="review_box">
  <table>
    <tr>
      <td class="table_name2">
        New Comment
        <a href="#">More</a>
      </td>
    </tr>
    <tr>
      <td id="review_td" class="table_row0"></td>
    </tr>
    <tr>
      <td id="review_td" class="table_row1"></td>
    </tr>
    <tr>
      <td id="review_td" class="table_row0"></td>
    </tr>
  </table>

</div>
