function showRes(id){
    //location.href = '/#/bab/view?res_id=' + id;
  $('#right_item').html('');
  $('#menuContact').html('');
  $('#menuContact').remove();

  $.ajax({
    url: '/bab/view_res?res_id=' + id,
    type : 'GET',
    dataType : 'html',
    async : false,
    success: function(data){
      $('#right_item').html(data);
      resProfile();
    }


  });

}

function selectRes(){
  $('#left_item').html('');

  $.ajax({
    url : '/bab/select',
    type : 'POST',
    dataType : 'html',
    async : false,
    success:function(data){
      $('#left_item').html(data);
      selectSetting();
    }
  });

}
function selectResult(){
  var query_arr =[];
  $("input.type").each(function(i,elem){
    var aaa = $(elem).attr('id');
    if ($(elem).attr('checked')) {
      query_arr.push( aaa + "=1");
    }
  });
  var query_string = query_arr.join("&");
  $.ajax({
    url : '/bab/select_result?priority_1=' + $('#priority_text_1').val() + '&priority_2=' + $('#priority_text_2').val() + '&priority_3=' + $('#priority_text_3').val() + '&priority_4=' + $('#priority_text_4').val() + '&taste_level=' + $('#taste_level_point').val() + '&speed_level=' + $('#speed_level_point').val() + '&amount_level=' + $('#amount_level_point').val() + '&service_level=' + $('#service_level_point').val() + '&' + query_string,
    type : 'POST',
    dataType : 'html',
    async : false,
    success : function(data){
      $('#left_item').html('');
      $('#left_item').html(data);
  }
});

}

function addCandidate(){
  $('#candidate_list').append('<div class="people">'+ $('#candidate').val()  +'</div>');
  $('#candidate').val('');
  }

  function selectRole(){
    $('#decide_btn').remove();
    $('.role_form').remove();
  randomElements = jQuery('#candidate_list .people').get().sort(function(){
    return Math.round(Math.random())-0.5
  }).slice(0,2)
  $(randomElements).attr("id","cleaner_people");
  randomCasher = jQuery('#candidate_list #cleaner_people').get().sort(function(){
    return Math.round(Math.random())-0.5
  }).slice(0,1)
  $(randomCasher).attr("id","casher_people");
  $('#cleaner_people').append('<span id="cleaner">뒷정리</span>');
  $('#casher_people').append('<span id="casher">회계</span>');
  
  
}
function mainPage(){
  $('#left_item').html('');
  $('#right_item').html('');
  $.ajax({
    url : '/bab/main',
    type : 'GET',
    dataType : 'html',
    async : false,
    success:function(data){
      $('#left_item').html(data);
    }
  });
  $.ajax({
    url : '/bab/today_res',
    type : 'GET',
    dataType : 'html',
    async : false,
    success:function(data){
      $('#right_item').html(data);
    }
  });



}
function selectSetting(){
  $('#taste_level_slider').slider({
    max : 2,
    step : 1,
    value : 1,
    slide : function(event, ui){
      $("#taste_level_point").val(ui.value);
    }
  });
  $('#speed_level_slider').slider({
    max : 2,
    step : 1,
    value : 1,
    slide : function(event, ui){
      $("#speed_level_point").val(ui.value);
    }
  });
  $('#amount_level_slider').slider({
    max : 2,
    step : 1,
    value : 1,
    slide : function(event, ui){
      $("#amount_level_point").val(ui.value);
    }
  });
  $('#service_level_slider').slider({
    max : 2,
    step : 1,
    value : 1,
    slide : function(event, ui){
      $("#service_level_point").val(ui.value);
    }
  });

  $('#priority_sortable').sortable({
    placeholder : "ui-state-highlight",
    cursor : "pointer",
    stop : function(event, ui){
    var text_1 =  $('ul#priority_sortable li:nth-child(1)').text();
    var text_2 =  $('ul#priority_sortable li:nth-child(2)').text();
    var text_3 =  $('ul#priority_sortable li:nth-child(3)').text();
    var text_4 =  $('ul#priority_sortable li:nth-child(4)').text();
      $('#priority_text_1').val(text_1);
      $('#priority_text_2').val(text_2);
      $('#priority_text_3').val(text_3);
      $('#priority_text_4').val(text_4);


    }
  });
  $('#priority_sortable').disableSelection();





}


function evRes(id){

    //location.href = '/#/bab/evaluate?res_id=' + id;
    $('#right_item').html('');
    $('#menuContact').html('');
    $('#menuContact').remove();

    $.ajax({
      url: '/evaluate/new_ev?res_id=' + id,
      type : 'POST',
      dataType : 'html',
      async : false,
      success:function(data) {
        $('#right_item').html(data);
        prepareSliders();
        reviewCount();
      }
    });

}

function searchRes(){

  
  $('#left_item').html('');
  $.ajax({
    url: '/bab/search?&search=' + $('.searchtext').val(),
    type : 'GET',
    dataType : 'html',
    async : false,
    success: function(data) {
      $('#left_item').html(data);
      
      $("a.next_page").wrap('<div class="moreview" />');
      $('#resultview').tinyscrollbar();
      searchScroll();
    }

  });
}

function searchScroll(){
  $('.overview').infinitescroll({

    navSelector : "div.pagination",
    nextSelector : "div.pagination a.next_page",
    itemSelector : "#resultview table",
    donetext : "더 이상 검색결과가 없습니다.",
  });
  $(window).unbind('.infscr');
  $("a.next_page").click(function(){
    $(document).trigger('retrieve.infscr');
    $(".pagination").css({
      "display" : ""
  });
    $('.overview').ajaxComplete(function(){

      $('#resultview').tinyscrollbar_update('bottom');
  });

    return false;
  });
  $(document).ajaxError(function(e,xhr,opt){
    if (xhr.status == 404)
      $('div.moreview').remove();
});


}





function goodMenu(id){
    $.getJSON('/evaluate/good_menu?menu_id=' +id, likeThisMenu)

}
function badMenu(id){
    $.getJSON('/evaluate/bad_menu?menu_id=' +id, dislikeThisMenu)
}

function cancelGoodMenu(id){
    $.getJSON('/evaluate/cancel_good?menu_id=' +id, cancelLike)

}

function cancelBadMenu(id){
    $.getJSON('/evaluate/cancel_bad?menu_id=' +id, cancelDislike)
}
////////////////////////////////////
function prepareSliders() {
  var default_options = {
    range : "min",
    max : 10,
    min : 0,
    value : 0,
    animate : true,
    orientation : "horizontal"};

    $('#taste_slide').slider(
      $.extend(default_options,
        {
          slide : function(event, ui) {
            $('#p_taste_point').val(ui.value);
          }
        }
      )
    );

    $('#speed_slide').slider(
      $.extend(default_options,
        {
          slide : function(event, ui){
            $('#p_speed_point').val(ui.value);
          }
        }
      )
    );


    $('#amount_slide').slider(
      $.extend(default_options,
        {
          slide : function(event, ui){
            $('#p_amount_point').val(ui.value);
          }
        }
      )
    );



    $('#service_slide').slider(
      $.extend(default_options,
        {
          slide : function(event, ui){
            $('#p_service_point').val(ui.value);
          }
        }
      )
    );


}
function reviewCount(){

  $('#evaluation_review').keyup(function(){
    var text = $('#evaluation_review').val();
    var textlength = text.length;




    if (textlength > 140 ){

      $('#countinfo').html('140/140');
      $('#evaluation_review').val(text.substr(0,140));
    }
    else{

      if(textlength < 10){
        $('#countinfo').html('10글자 이상 써주세요^^ '+textlength+'/140');
        $('#countinfo').css({
          "color" : "red"
        })

      }


      else{

        $('#countinfo').html(textlength+'/140');
        $('#countinfo').css({
          "color" : "black"
        })
      }

    }
  });
}


////////////////////////////////////
function likeThisMenu(item){
    $('#menupane .menu_table'+item.id+' #like_td').html('');
    $('#menupane .menu_table'+item.id+' #like_count_td').html('');
    $('#menupane .menu_table'+item.id+' #dislike_td').html('');
    $('#menupane .menu_table'+item.id+' #dislike_count_td').html('');
   ///////////////////////////////////////
    $('#menupane .menu_table'+item.id+' #like_td').append('<a href="#" onclick="cancelGoodMenu('+item.id+');return false;">cancel</a>');
    $('#menupane .menu_table'+item.id+' #like_count_td').append(item.like);
    $('#menupane .menu_table'+item.id+' #dislike_td').append('<a href="#" onclick="badMenu('+item.id+');return false;">dislike</a>');
    $('#menupane .menu_table'+item.id+' #dislike_count_td').append(item.dislike);
}

function dislikeThisMenu(item){
    $('#menupane .menu_table'+item.id+' #like_td').html('');
    $('#menupane .menu_table'+item.id+' #like_count_td').html('');
    $('#menupane .menu_table'+item.id+' #dislike_td').html('');
    $('#menupane .menu_table'+item.id+' #dislike_count_td').html('');
   ///////////////////////////////////////
    $('#menupane .menu_table'+item.id+' #like_td').append('<a href="#" onclick="goodMenu('+item.id+');return false;">like</a>');
    $('#menupane .menu_table'+item.id+' #like_count_td').append(item.like);
    $('#menupane .menu_table'+item.id+' #dislike_td').append('<a href="#" onclick="cancelBadMenu('+item.id+');return false;">cancel</a>');
    $('#menupane .menu_table'+item.id+' #dislike_count_td').append(item.dislike);

}
///////////////////////////////////
function cancelLike(item){
    $('#menupane .menu_table'+item.id+' #like_td').html('');
    $('#menupane .menu_table'+item.id+' #like_count_td').html('');
    /////////////////////////
    $('#menupane .menu_table'+item.id+' #like_td').append('<a href="#" onclick="goodMenu('+item.id+');return false;">like</a>');
    $('#menupane .menu_table'+item.id+' #like_count_td').append(item.like);

}
function cancelDislike(item){
    $('#menupane .menu_table'+item.id+' #dislike_td').html('');
    $('#menupane .menu_table'+item.id+' #dislike_count_td').html('');
   ///////////////////////////////////////
    $('#menupane .menu_table'+item.id+' #dislike_td').append('<a href="#" onclick="badMenu('+item.id+');return false;">dislike</a>');
    $('#menupane .menu_table'+item.id+' #dislike_count_td').append(item.dislike);

}
//////////////////////////////////////



////////////////////////////////////
function resProfile(){
  
  $('#prog_taste').progressbar({
    value : 10*($('#prog_taste p').text())
  });
  $('#prog_speed').progressbar({
    value : 10*($('#prog_speed p').text())
  });
  $('#prog_amount').progressbar({
    value : 10*($('#prog_amount p').text())
  });
  $('#prog_service').progressbar({
    value : 10*($('#prog_service p').text())
  });
 //////////////////////////////////////////////////////////
    $("#menuPop").click(function(){
            centerPopup('#menuContact');
            loadPopup('#menuContact');
        });
        $("#popupContactClose1").click(function(){
            disablePopup('#menuContact');
        });
        $('html').keydown(function(e){
                if(e.keyCode==27 && popupStatus==1){
                    $('#backgroundPopup').fadeOut("slow");
                    $('#menuContact').fadeOut("slow");
                    popupStatus = 0;
                } 
        });




}
///////////////////////////////////////////////////////////////

function resEvaluation(product){
    $('#right_item').html('');
    $('#menuContact').html('');
}
//////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////
$(function(){
  window.onload = mainPage();
  
  
  
  var hash = window.location.hash;


  if (hash != ""){
    var args = hash.substr(1).split("?");
    var command = args[0].split("/")[2];
    var res_id = args[1].split("=")[1];

    if (command == "view"){
      showRes(res_id);
    }
    if (command == "evaluate"){
      evRes(res_id);  
    }


  }
});


