html, body {
    background : #E2E2E2;
    margin : 0px;
    padding : 0px;
    font-family : Dotum, sans-serif;
}
a {
    text-decoration : none;
}
td {
    word-break : break-all;
}
#header {
    width : 1024px;
    height : 100px;
    background : #c8c8c8;
    position : relative;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
}
#logobox{
    position : absolute;
    width : 200px;
    height :90px;
    margin-left : 5px;
    top : 5px;
}

#searchbox{
    position : absolute;
    width : 400px;
    height : 90px;
    margin-left : 210px;
    top: 5px;
}
.searchtext{
    border : #ff8200 3px solid;
    width : 300px;
    height : 30px;
    padding : 0px;
    position : absolute;
    bottom : 10px;
    font-size : 15px;
}
.searchbtn{
    border : #ff8200 3px solid;
    border-left : 0px;
    width : 60px;
    height : 36px;
    position : absolute;
    bottom : 10px;
    left : 306px;
    font-size : 15px;
    background : #ff8200;
    color : white;
}
#userbox{
    position : absolute;
    width : 300px;
    height : 90px;
    margin-left : 719px;
    top: 5px;

}
#userbox td {
    font-size : 12px;
    color : #ff8200;
}

#current_userbox {
    margin-top : 10px;
    font-size : 13px;
}
#current_userbox a{
    color : #ff4500;
    text-decoration : underline;
    border : 0;
}
.signintext {
    border : #ff8200 2px solid;
    width : 90px;
    height : 12px;
    font-size : 10px;
}
.signinbtn {
    border : 0px;
    background : #ff8200;
    width : 40px;
    height : 18px;
    font-size 10px;
    color : white;
}
.signupPop {
    color : #ff4500;
    font-size : 12px;
    text-decoration : underline;
    border : 0;
    background : #c8c8c8;
    cursor : pointer;
}


#blackbox {
    width : 1024px;
    height : 20px;
    background : black;
    position : relative;
    margin-left : auto;
    margin-right : auto;
}

#blackbox p {
    color : white;
    margin : 0;
    font-size : 11px;
    text-align : right;
}
#content {
    width : 1024px;
    position : relative;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
}
#left_content{
    width : 510px;
    height : 650px;
    background : #c8c8c8;
    float : left;
}

#panelbox {
  height:20px;
}

.panel_ul {
    list-style-type: none;
    padding : 0px;
    margin : 5px 0px 0px 5px;

}

.panel_li {
    float : left;
    background : #ff8200;
    margin-right : 2px;
    width : 100px;
    height : 20px;
}
.panel_li a {
    color : white;
    font-size : 15px;
    margin-left : 5px; 
}
#left_item{
    background : white;
    width : 500px;
    height : 620px;
    margin-left : 5px;
    margin-top : 0px;
}










#right_content{
    width : 510px;
    height : 650px;
    background : #c8c8c8;
    float : left;
    margin-left : 4px;
}
.design{
    color : white;
    margin : 0;
    font-size : 11px;
    text-align : left;

}
#right_item{
    background : white;
    width : 500px;
    height : 620px;
    margin-left : 5px;
    margin-top : 12px;
    position : absolute;

}
















#footer{
    width : 1024px;
    height : 100px;
    margin-left : auto;
    top : 5px;
    position : relative;
    margin-right : auto;
    border-top : #c8c8c8 solid 1px;
    font-size : 11px;
    color : black;
    clear : left;
    text-align : center;


}



#signupContact{
    display:none;
    height : 400px;
    width : 400px;
    background : white;
    z-index : 2;
}
#popupContactClose, #popupContactClose1{
    position :absolute;
    font-size : 20px;
    top : 0px;
    right : 1px;
    display : block;
    color : white;
    font-weight : 900;
    cursor : pointer;
    width : 20px;
    height : 20px;
    margin : 0;
}
#signup table{
    position : relative;
    margin :auto;
    margin-top : 30px;
}
#signup td {
    font-size :12px;
}
.signuptext{
    border : #ff8200 2px solid;
    width : 120px;
    height : 20px;
}

.signupbtn{
    background : #ff8200;
    color : white;
    font-size : 15px;
    height : 20px;
    width : 260px;
    border : 0px;
    text-align : center;

}
#orangebox {
    background : #ff8200;
    color : white;
    font-size : 30px;
    font-weight : bolder;
    width : 400px;
    height : 30px;
}

#backgroundPopup{
    display : none;
    position : fixed;
    height : 100%;
    width : 100%;
    top : 0;
    left: 0;
    background : #000000;
    z-index : 1;
}

