body {
    background : #E2E2E2;
    margin : 0;
    padding : 0;
    font-family : Dotum, sans-serif;
}

#header {
    width : 1024px;
    height : 100px;
    background : white;
    position : relative;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
}
#blackbox {
    width : 1024px;
    height : 20px;
    background : black;
    position : relative;
    margin-left : auto;
    margin-right : auto;
    p {
        color : white;
        margin : 0;
        font-size : 11px;
        text-align : right;
    }
}

#content {
    width : 1024px;
    position : relative;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5px;
    #left_content{
        width : 492px;
        height : 600px;
        background : white;
        float : left;
    }
    #right_content{
        width : 492px;
        height : 600px;
        background : white;
        float : left;
    }

