// Place all the styles related to the bab controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display:height inline-block;
}

a {
        color : black;
        font-weight : bold;
}

.tablebox{
    width : 490px;
}
.bestres_table {
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
    float : left;
    width : 240px;
    position : relative;
    top : 5px;
    left : 5px;
    margin : 2px;
    border-spacing : 0px;
    border-collapse : collapse;
    tr {
        font-size : 13px;
        text-align : center;
        height : 25px;
    }
    .row2{
        background : #41627e;
        color : white;
        font-weight : bold;
        border : #41627e 1px solid;
    }
    .row1{
        background : #f7f7f7;
    }

    .rank{
        border : #bdbabd 1px solid;
        
    }
    .name{
        border : #bdbabd 1px solid;
    }
    .point{
        border : #bdbabd 1px solid;
    }
}

#new_res_table{
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
    border-spacing : 0px;
    border-collapse : collapse;
    position : relative;
    margin-left : 6px;
    top : 6px;

    td {
        border : #bdbabd 1px solid;
        width : 482px;
        height : 25px;
        font-size : 13px;
    }
    .row2 td{
        background : #41627e;
        color : white;
        font-weight : bold;
        border : #41627e 1px solid;
    }
    .row0 {
        background : #f7f7f7;
    }
}

#new_ev_table{
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
    border-spacing : 0px;
    border-collapse : collapse;
    position : relative;
    margin-left : 6px;
    top : 10px;

    td {
        border : #bdbabd 1px solid;
        width : 482px;
        height : 50px;
        padding : 0px;
        word-break : break-all;
        font-size : 13px;
    }
    .row2 td {
        background : #41627e;
        color : white;
        height : 25px;
        font-weight : bold;
        border : #41627e 1px solid;
    }
    .row1{
        background : #f7f7f7;
    }
}
#resultview{
  width : 500px;
  clear : both;
}
#resultview .viewport { width: 460px; height: 540px; overflow: hidden; position: relative; }
#resultview .overview { list-style: none; position: absolute; left: 0; top: 0; margin-left : 30px; }
#resultview .thumb .end,
#resultview .thumb { background-color: #ff7200; }
#resultview .scrollbar { position: relative; float: right; width: 15px; }
#resultview .track { background-color: #bdbabd; height: 100%; width:13px; position: relative; padding: 0 1px; }
#resultview .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#resultview .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#resultview .disable{ display: none; }
.result_table {
  border-spacing : 0px;
  border-collapse : collapse;
  border : #bdbabd 1px solid;
  margin-top : 5px;
   position : relative;
   margin-left : auto;
   margin-right : auto;
    box-shadow : 2px 2px 2px rgba(50, 50, 50, 0.4);
}

.result_img_td {
  width : 117px;
  height : 110px;
  .search_image{
    width : 100px;
    height : 100px;
    margin-top : 2px;
    margin-left : 2px;
  }
}
.result_resname_td{
  width : 330px;
  text-align : right;
  font-weight : bold;
  font-size : 15px;
  border-bottom : 1px solid #bdbabd;
  height : 30px;
  a{
    color : #41627e;
  }
}
.result_resinfo_td{
  word-break : break-all;
  font-size : 13px;
  height : 50px;
  border-bottom : 1px solid #bdbabd;
}
.result_respoint_td{
  font-size : 13px;
  text-align : right;
  height : 28px;
  span {
  color : #ff7200;
  font-weight : bold;

  }
}
.pagination a, .pagination span, .pagination em{
  display :none;
}
.moreview{
  position : relative;
  margin-left : auto;
  margin-right : auto;
  width : 420px;
  height : 40px;
  margin-top : 10px;
  border-radius : 5px;
  border : 1px solid #ddd;
  background : #dfdfdf;
  box-shadow : 2px 2px 2px rgba(50,50,50,0.4);
  text-align : center;
  font-size : 25px;
  padding-top : 10px;
}
a.next_page{
 display : block; 
 color : #444;
}

#priority{
  width : 500px;
  height : 40px;
  padding-top : 20px;
  #priority_span{
    font-size : 12px;
    width : 60px;
    margin-left : 5px;
    height : 30px;
    text-align : center;
    font-weight : bold;
    color : white;
    float : left;
    padding-top : 18px;
    background : #41627e;
    border-radius : 5px;
  }
}

#priority_sortable{
  float : left;
  background : #E6E6E6;
  width : 420px;
  height : 40px;
  list-style-type : none;
  margin : 0;
  padding : 0;
  padding-top : 8px;
  border-radius : 5px;
  margin-left : 10px;
  li{
    margin : 0px 5px 5px 5px;
    padding : 5px;
    font-size : 13px;
    height : 1.5em;
    cursor : pointer;
    width : 80px;
    float : left;
    border-radius : 5px;
    color : white;
    text-align : center;
    font-weight : bold;
    border : 2px solid #41627e;
    background : #41627e;
  }
}
#select_help{
  position : absolute;
  font-size : 11px;
  color : #bdbabd;
  cursor : pointer;
  margin-top : 1px;
  margin-left : 385px;
  border-bottom : 1px solid #bdbabd;
}
#select_level{
  position : relative;
  width : 490px;
  height : 200px;
  margin-top : 30px;
  margin-left : 5px;
  clear : both;
  #level_span{
    font-size : 12px;
    width : 60px;
    height : 30px;
    text-align : center;
    font-weight : bold;
    color : white;
    float : left;
    padding-top : 18px;
    background : #41627e;
    border-radius : 5px;
  }
  #level_container{
  float : left;
  width : 420px;
  margin-left :10px;
  height : 200px;
  background : #e6e6e6;
  border-radius : 5px;
  }
}


.priority_text{
  display :none;
}
.level_box {
  float : left;
  width : 200px;
  height : 90px;
  font-weight : bold;
  color : #ff7200;
  font-size : 12px;
  padding : 5px;
  table {
    margin-top : 20px;
    color : black;
    font-weight : normal;
    font-size : 10px;
    td#bong{
      text-align : left;
    width : 60px;
    }
    td#gae {
      text-align : center;
    width : 60px;
    }
    td#an{
      text-align : right;
    width : 60px;
    }
  }
  hr{
    border : 1px solid #41627e;;
  }
}
.level_point{
  display : none;
}
#taste_level_slider,#speed_level_slider,#amount_level_slider,#service_level_slider{
  width : 180px;
  margin : 0px;
}
#select_type{

  width : 490px;
  position : relative;
  margin-left : 5px;
  height : 200px;
  margin-top : 30px;

  #type_span{
    font-size : 12px;
    width : 60px;
    height : 30px;
    text-align : center;
    font-weight : bold;
    color : white;
    float : left;
    padding-top : 18px;
    background : #41627e;
    border-radius : 5px;
  }
  #type_box{
    float : left;
    width : 420px;
    margin-left :10px;
    height : 200px;
    background : #e6e6e6;
    border-radius : 5px;
    
    .type_check{
      width : 200px;
      height : 60px;
      float : left;
      margin : 5px;
      color : #ff7200;
      font-size : 12px;
      font-weight : bold;
    }
  }
}

#select_submit{
  width : 100px;
  height : 50px;
  border-radius : 5px;
  background : #41627e;
  border : 0px;
  font-weight : bold;
  font-size : 14px;
  color : white;
  margin-top : 20px;
  margin-left : 200px;
  cursor : pointer;
}

//////////////////////select_result////////////////
#select_result_help{
  position : absolute;
  font-size : 11px;
  color : #bdbabd;
  cursor : pointer;
  margin-top : 1px;
  margin-left : 400px;
  border-bottom : 1px solid #bdbabd;
}
#recommend {
  margin-left : auto;
  margin-right : auto;
  position : relative;
  width : 250px;
  height : 300px;
  border-radius : 5px;
  border : 1px solid #ddd;
  background : #dfdfdf;
  box-shadow : 2px 2px 2px rgba(50,50,50,0.4);
  top : 5px;
}
#recommend_text{
  width : 250px;
  height : 15px;
  padding-top : 1px;
  text-align : center;
  font-size : 15px;
  font-weight : bold;
  color : #3399cc;
}
#recommend_img{
  width : 250px;
  height : 150px;
  margin-top : 5px;
  img{
    width : 150px;
    height : 150px;
    position : relative;
    margin-left : 45px;
  }

}
#recommend_name{
  width : 250px;
  height : 15px;
  text-align : center;
  font-weight : bold;
  font-size : 15px;
  margin-top : 5px;
}
#recommend_info{
  width : 240px;
  height : 80px;
  font-size : 13px;
  margin-top : 5px;
  margin-left : 5px;
  border-top : 1px solid #708090;
  p{
    margin : 0px;
    color : red;
    text-align : center;
  }

}

#recommend_point{
  width : 250px;
  height : 20px;
  font-size : 11px;
  text-align : center;
  span{
    color : #ff7200;
    font-weight : normal;
  }
}
#select_role{
  width : 500px;
  height : 290px;
  margin-top : 20px;
}

#role_name{
  width : 54px;
  height : 20px;
  margin-left : 5px;
  border-radius: 5px;
  border: 1px solid #ff7200;
  background: #ff7200;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  color : white;
  font-size : 12px;
  padding-top : 8px;
  padding-left : 5px;
  float : left;
}

#role_bar{
  width : 410px;
  height : 30px;
  float : left;
  border-radius : 5px;
  background: #ddd;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  border: 1px solid #ddd;
  margin-left : 10px;

}
.role_form{
  margin-left : 50px;
  float : left;
}
#candidate{
  border : 0px;
  padding : 0px;
  margin-left : 10px;
  height : 20px;
  width : 150px;
  margin-top : 4px;
}

#can_submit{
  padding: 0px;
  margin : 0px;
  border : 0px;
  height : 20px;
  width : 50px;
  color  :#41627e;
  background : white;
  margin-left : -5px;
  border-left : 1px solid #41627e;
  cursor : pointer;
}

#decide_btn{
  float : left;
  width : 50px;
  height : 20px;
  margin-top : 5px;
  margin-left : 80px;
  background : #41627e;
  color : white;
  font-weight : bold;
  text-align : center;
  cursor : pointer;
}
#candidate_list{
  width : 480px;
  height : 240px;
  margin-left : 10px;
  position : absolute;
  margin-top : 50px;
  overflow-y : scroll;

}
.people{
  float : left;
  border : 1px solid #ddd;
  box-shadow : 2px 2px 2px rgba(50,50,50,0.4);
  width : 200px;
  height : 25px;
  padding-top : 10px;
  margin-left : 20px;
  margin-bottom : 10px;
  text-align : center;
  font-size : 14px;
  font-weight : bold;
  border-radius : 5px;
  position : relative;
}

#cleaner_people{
    border : 1px solid red;

  #cleaner{
    color : red;
    font-size : 11px;
    position : absolute;
    top : 5px;
    right : 5px
  }
}

#casher_people{
   border : 1px solid blue; 
  #casher{
    color : blue;
    font-size : 11px;
    position : absolute;
    top : 5px;
    right : 5px
  }
}
#order_people{
   border : 1px solid green; 
  #order{
    color : green;
    font-size : 11px;
    position : absolute;
    top : 5px;
    right : 5px
  }
}
////////////////today/////////////////////////
#today {
  margin-left : auto;
  margin-right : auto;
  margin-top : 40px;
  position : relative;
  width : 400px;
  height : 500px;
  border-radius : 5px;
  border : 1px solid #ddd;
  background : #dfdfdf;
  box-shadow : 2px 2px 2px rgba(50,50,50,0.4);
  top : 5px;
}
#today_text{
  width : 400px;
  height : 35px;
  padding-top : 1px;
  text-align : center;
  font-size : 25px;
  font-weight : bold;
  color : #ff8200;
}
#today_img{
  width : 400px;
  height : 250px;
  margin-top : 5px;
  img{
    width : 250px;
    height :250px;
    position : relative;
    margin-left : 75px;
  }

}
#today_name{
  width : 400px;
  height : 30px;
  text-align : center;
  font-weight : bold;
  font-size : 20px;
  margin-top : 10px;
}
#today_info{
  width : 380px;
  height : 140px;
  font-size : 15px;
  margin-top : 10px;
  margin-left : 10px;
  border-top : 1px solid #708090;
  p{
    margin : 0px;
    color : red;
    text-align : center;
  }
}

#today_point{
  width : 400px;
  height : 25px;
  font-size : 13px;
  text-align : center;
  span{
    color : #ff7200;
    font-weight : normal;
  }
}

/////////contact

.contact_bar{
  width : 400px;
  top : 10px;
  height : 25px;
  background : #41627e;
  margin-left : auto;
  margin-right : auto;
  position : relative;
  text-align : center;
  font-size : 15px;
  color : white;
  font-weight : bold;
  padding-top : 5px;
}
.contact_info{
  width : 400px;
  position : relative;
  font-size : 11px;
  height : 30px;
  margin-top : 15px;
  margin-left : auto;
  margin-right : auto;
  color : #ff7200;
}
.contact_wrapper{
  width : 500px;
  height : 500px;
  margin-top : 20px;

}
#title_container, #mail_container{
  position : relative;
  margin-left : auto;
  margin-right : auto;
  width : 400px;
  height : 60px;
  margin-bottom : 10px;

}
.contact_exp{
  width : 320px;
  height : 12px;
  position : relative;
  margin-left : auto;
  margin-right : auto;
  padding-left : 80px;
  color : #ff7200;
  font-size : 11px;
  margin-top : -20px;
  margin-bottom : 10px;
}
#content_container{
  position : relative;
  margin-left : auto;
  margin-right : auto;
  width : 400px;
  height :300px;
  margin-bottom : 10px;
}
.con_span1, .con_span2, .con_span3{
  font-size : 12px;
  width : 60px;
  margin-left : 5px;
  height : 30px;
  text-align : center;
  font-weight : bold;
  color : white;
  float : left;
  padding-top : 18px;
  background : #41627e;
  border-radius : 5px;
}

#title_wrapper, #mail_wrapper{
  float : left;
  width : 325px;
  margin-left :10px;
  height : 48px;
  background : #e6e6e6;
  border-radius : 5px;
}
#content_wrapper{
  float : left;
  width : 325px;
  margin-left :10px;
  height : 310px;
  background : #e6e6e6;
  border-radius : 5px;
}
.contact_submit{
  width : 100px;
  height : 50px;
  border-radius : 5px;
  background : #41627e;
  border : 0px;
  font-weight : bold;
  font-size : 14px;
  color : white;
  margin-top : 20px;
  margin-left : 200px;
  cursor : pointer;
}
.contact_content{
  resize : none;
  width : 310px;
  height : 295px;
  margin-top : 3px;
  margin-left : 3px;
  border : 0px;
  background : #e6e6e6;
}
.contact_title, .contact_mail{
  width : 310px;
  height : 30px;
  margin-left : 5px;
  margin-top : 5px;
  border : 0px;
  background : #e6e6e6;
}

#denybox{
  width : 300px;
  height : 200px;
  position : relative;
  margin-left : 100px;
  margin-top : 200px;
  border : 1px solid #41627e;
  #deny_top{
    position : absolute;
    top : 0px;
    height : 30px;
    width : 100%;
    background :  #41627e;
  }
  #deny_text{
    width : 100%;
    height : 30px;
    text-align : center;
    margin-top : 90px;
    font-size : 13px;
    font-weight : bold;
  }
  #deny_bottom{
    position : absolute;
    bottom : 0px;
    height : 30px;
    width : 100%;
    background :  #41627e;

  }
}

//more_comment

#comment_bar{
  width : 400px;
  margin-top : 10px;
  margin-left : 50px;
  height: 25px;
  background : #41627e;
  border-radius : 5px;
  text-align : center;
  font-size : 14px;
  color : white;
  font-weight : bold;
  padding-top : 5px;

}

#comment_container{
  width : 390px;
  margin-top : 20px;
  height : 500px;
  overflow-y : scroll;
  margin-left : 50px;
  padding : 5px;

}

.comment_wrapper{
  word-break : break-all;
  width : 360px;
  height : 50px;
  font-size : 13px;
  border-bottom : 1px solid #41627e;
  margin-bottom : 5px;
}
