.signintext{
  behavior: url(/assets/PIE.htc);
}

.signinbtn{
  behavior: url(PIE.htc);
}
#left_content{
  behavior: url(PIE.htc); 
}

#left_item{
  behavior: url(PIE.htc); 
}

#right_content{
  behavior: url(PIE.htc); 
}
#right_item{
  behavior: url(PIE.htc); 
}
#deglee{
  behavior: url(PIE.htc); 
}

.moreview{
  behavior: url(PIE.htc); 
}
#priority{
  behavior: url(PIE.htc); 
}
#priority_sortable{
  behavior: url(PIE.htc); 
}
#priority_sortable li{
  behavior: url(PIE.htc); 
}
#level_span{
  behavior: url(PIE.htc); 
}
#level_container{
  behavior: url(PIE.htc); 
}
#type_span{
  behavior: url(PIE.htc); 
}
#type_box{
  behavior: url(PIE.htc); 
}
#select_submit{
  behavior: url(PIE.htc); 
}
#recommend{
  behavior: url(PIE.htc); 
}
#role_name{
  behavior: url(PIE.htc); 
}
#role_bar{
  behavior: url(PIE.htc); 
}
.people{
  behavior: url(PIE.htc); 
}
#today{
  behavior: url(PIE.htc); 
}
.con_span1, .con_span2, .con_span3{
  behavior: url(PIE.htc); 
}
#title_wrapper, #mail_wrapper{
  behavior: url(PIE.htc); 
}
#content_wrapper{
  behavior: url(PIE.htc); 
}
.contact_submit{
  behavior: url(PIE.htc); 
}
#comment_bar{
  behavior: url(PIE.htc); 
}
#ev_link{
  behavior: url(PIE.htc); 
}
#menu_link{
  behavior: url(PIE.htc); 
}
#menuContact{
  behavior: url(PIE.htc); 
}






















